<a href="https://colab.research.google.com/github/Tanzeela-Rind/DSA_LAB/blob/main/20sw121DSA_lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#TASK1
prize = int(input())

if prize >= 1 and prize <= 50:
    print('Congratulations!!!! Wooden rabbit')
elif prize > 50 and prize <= 150:
    print('Try it againnn!!!! No prize')
elif prize > 150 and prize <= 180:
    print('Congratulations!!!! Wafer-thin mint')
elif prize > 180 and prize <= 200:
    print('Congratulations!!!! Penguin')
else:
    print('Ooh dear!!! No prize this time')

8
Congratulations!!!! Wooden rabbit

In [3]:
#TASK 02
answer = 42


guess = int(input("Enter your guess: "))


if guess < answer:
    print("Your guess is too low.")
elif guess > answer:
    print("Your guess is too high.")
else:
    print("Congratulations! Your guess is correct!")

Enter your guess: 78
Your guess is too high.

In [5]:
#TASK 03
def calculate_tax(purchase_amount, state):
    # Define tax rates for different states
    tax_rates = {
        'CA': 0.075,
        'MN': 0.095,
        'NY': 0.089
    }

    # Check if the state is in the tax_rates dictionary
    if state in tax_rates:
        tax_rate = tax_rates[state]
        tax_amount = purchase_amount * tax_rate
        total_amount = purchase_amount + tax_amount
        print(f"Purchase amount: ${purchase_amount:.2f}")
        print(f"Tax rate in {state}: {tax_rate * 100:.1f}%")
        print(f"Tax amount: ${tax_amount:.2f}")
        print(f"Total amount after tax: ${total_amount:.2f}")
    else:
        print("Invalid state. Please enter a valid state code (CA, MN, or NY).")

# Take user input for purchase amount and state
purchase_amount = float(input("Enter the purchase amount: $"))
state = input("Enter your state (CA, MN, or NY): ")

# Call the function to calculate tax
calculate_tax(purchase_amount, state)

Enter the purchase amount: $68
Enter your state (CA, MN, or NY): CA
Purchase amount: $68.00
Tax rate in CA: 7.5%
Tax amount: $5.10
Total amount after tax: $73.10

In [6]:
#TASK 04
my_list = [1, 2, 3, 4, 5]


for element in my_list:
    print(element)

1
2
3
4
5

In [7]:
#TASK05
for number in range(5, 31, 5):
    print(number)

5
10
15
20
25
30

In [8]:
#TASK 06
names = ["John Doe", "Alice Smith", "Mike Johnson", "Emma Brown"]


first_names = [name.split()[0].lower() for name in names]


print(first_names)

['john', 'alice', 'mike', 'emma']

In [12]:
#TASK 07
multiples_3 = [num * 3 for num in range(1, 21)]
print(multiples_3)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60]

In [11]:
#TASK 08
scores = {"Rick Sanchez": 70, "Morty Smith": 35, "Summer Smith": 82, "Jerry Smith": 23, "Beth Smith": 98}
passed = [name for name, score in scores.items() if score >= 65]
print(passed)

['Rick Sanchez', 'Summer Smith', 'Beth Smith']

In [10]:
#TASK 09
names = ["Alice", "Bob", "Charlie", "David", "Eva"]
heights = [165, 180, 175, 170, 160]

cast = dict(zip(names, heights))

print(cast)

{'Alice': 165, 'Bob': 180, 'Charlie': 175, 'David': 170, 'Eva': 160}

In [9]:

#TASK 10
cast = {'Alice': 165, 'Bob': 180, 'Charlie': 175, 'David': 170, 'Eva': 160}

modified_cast = [name + str(height) for name, height in cast.items()]

print(modified_cast)

['Alice165', 'Bob180', 'Charlie175', 'David170', 'Eva160']