<a href="https://colab.research.google.com/github/Tanzeela-Rind/DSA_LAB/blob/main/20sw121_DSA_LAB2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
variable1 = 10
variable2 = "Hello"

print("The value of variable1 is {} and the value of variable2 is '{}'.".format(variable1, variable2))

The value of variable1 is 10 and the value of variable2 is 'Hello'.

In [5]:
string = "hello world"
capitalized_string = string.capitalize()
print(capitalized_string)


string = "hello world"
count = string.count("o")
print(count)


string = "Hello world"
ends_with_world = string.endswith("world")
print(ends_with_world)


string = "Hello world"
index = string.find("o")
print(index)



name = "Alice"
age = 25
formatted_string = "My name is {} and I'm {} years old.".format(name, age)
print(formatted_string)

Hello world
2
True
4
My name is Alice and I'm 25 years old.

In [4]:
month = 8
days_in_month = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

# Use list indexing to determine the number of days in the month
num_days = days_in_month[month - 1]

# Print the result
print(num_days)

31

In [3]:
eclipse_dates = ['June 21, 2001', 'December 4, 2002', 'November 23, 2003', 'March 29, 2006', 'August 1, 2008', 'July 22, 2009', 'July 11, 2010', 'November 13, 2012', 'March 20, 2015', 'March 9, 2016']

# Select the last three elements of the list using list slicing
recent_dates = eclipse_dates[-3:]

# Print the recent dates
print(recent_dates)

['November 13, 2012', 'March 20, 2015', 'March 9, 2016']

In [2]:
students = {
    "John": {
        "age": 20,
        "major": "Computer Science",
        "gpa": 3.5
    },
    "Emily": {
        "age": 19,
        "major": "Biology",
        "gpa": 3.8
    },
    "Michael": {
        "age": 21,
        "major": "Mathematics",
        "gpa": 3.2
    }
}
print(students)
print(students.keys());

{'John': {'age': 20, 'major': 'Computer Science', 'gpa': 3.5}, 'Emily': {'age': 19, 'major': 'Biology', 'gpa': 3.8}, 'Michael': {'age': 21, 'major': 'Mathematics', 'gpa': 3.2}}
dict_keys(['John', 'Emily', 'Michael'])